/* index.js */

.Tabs {
  border: 2.5px solid black;
  padding: 20px; 
}

.Tabs__header {
  text-align: center;
	font-size: 2.5em;
	font-weight: bold;
  margin: 0 auto;
}

.Tabs__links {
  left: 0;
  margin: 20px 0;
}

.Tabs__link {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 15px;
  margin: 10px 10px 10px 0;
  background-color: gray;
}

.Tabs__item {
  display: none;
}

/* Tabs.js */

.Tabs__link-selected {
  background-color: white;
  border: solid 1px gray;
}

.Tabs__item-selected {
  display: block;
}